{% extends 'base.html' %}

{% block title %} Home {% endblock title %}
{% block homeactive %}active{% endblock homeactive %}
{% block body %}
<div class="container">
    <div class="jumbotron my-5">
    <h1 class="display-4">Welcome to <strong>iCoder!</strong> </h1>
    <p class="lead">Read <strong>Blogs</strong> for Code and Information</p>
    <hr class="my-4">
    <p>This site contains many articles and blogs from verious and famous writer around the glob.</p>
    <a class="btn btn-primary btn-lg" href="/blog/" role="button">Go to Blog</a>
    </div>
</div>

<div class="container">
    <h2 class="text-secondary mb-3"><strong>Popular Blog Posts</strong></h2><hr/>
    {% for post in fetured %}
    <div class="row my-4">
        <div class="col">
          <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
            <div class="col p-4 d-flex flex-column position-static">
              <p class="d-inline-block mb-2 text-primary">--By <strong>{{post.author}}</strong></p>
              <h3 class="mb-0">{{post.title}}</h3>
              <div class="mb-1 text-muted">{{post.datetime}}</div>
              <p class="card-text mb-auto mt-3">{{post.content| truncatechars:200}}</p>
              <div>
                <a href="/blog/{{post.slug}}" role="button" class="btn btn-primary stretched-link">Continue reading</a>
              </div>
            </div>
            <div class="col-auto d-none d-lg-block">
              <img class="bd-placeholder-img" width="300" height="250" src="/images/{{post.image}}" preserveAspectRatio="xMidYMid slice" focusable="false"></img>
            </div>
          </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock body %}