{% extends 'base.html' %}

{% block title %} Search {% endblock title %}
{% block body %}
<div class="container">
    <h2 class="text-success my-3 mt-5">Search Results for <strong>{{query}}</strong> </h2><hr/>
    {% if allpost|length == 0 %}
    <div class="my-4 text-danger">
        No result found!<br><br/>
        <span class="text-warning">Suggestion: 
            <br/>&nbsp;&nbsp;&nbsp;-&nbsp;Try another keyword to search.
            <br/>&nbsp;&nbsp;&nbsp;-&nbsp;Try lesser keywords to search.
            <br/>&nbsp;&nbsp;&nbsp;-&nbsp;Try appropriate keyword to search.
        </span>
    </div>
    {% endif %}
    {% for post in allpost %}
    <div class="row my-4">
        <div class="col">
          <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
            <div class="col p-4 d-flex flex-column position-static">
              <p class="d-inline-block mb-2 text-primary">--By <strong>{{post.author}}</strong></p>
              <h3 class="mb-0">{{post.title}}</h3>
              <div class="mb-1 text-muted">{{post.datetime}}</div>
              <p class="card-text mb-auto mt-3">{{post.content| truncatechars:200}}</p>
              <div>
                <a href="/blog/{{post.slug}}" role="button" class="btn btn-primary stretched-link">Continue reading</a>
              </div>
            </div>
            <div class="col-auto d-none d-lg-block">
              <img class="bd-placeholder-img" width="300" height="250" src="/images/{{post.image}}" preserveAspectRatio="xMidYMid slice" focusable="false"></img>
            </div>
          </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock body %}